<!DOCTYPE html>
<html>
<head>
  <title>Graph Libraries Comparison</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>FusionCharts</h1>
  <div id="fusionchart-line" class="graph"></div>
  <div id="fusionchart-scatter" class="graph"></div>

  <h1>AMCHARTS</h1>
  <div id="amcharts-line" class="graph"></div>
  <div id="amcharts-scatter" class="graph"></div>

  <canvas style="display:none;"></canvas>

  <div>
    <label>Graph: <select id="download"></select></label>
    <button>Send PNG to server and download</button>
  </div>
  <div>
    <img id="result">
  </div>

  <%= javascript_tag 'new FixedDataPointsGraphs()' -%>
</body>
</html>
