<!DOCTYPE html>
<html>
<head>
  <title>Graph Libraries Comparison</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
div {
  width: 50%;
  float: left;
}
</style>
<body>
  <div id="bar" class="js-graph-downloadable"></div>
  <div id="pie" class="js-graph-downloadable"></div>
  <div id="column" class="js-graph-downloadable"></div>
  <div id="line" class="js-graph-downloadable"></div>
  <div id="scatter" class="js-graph-downloadable"></div>

  <canvas style="display:none;"></canvas>

  <div>
    <label>Graph: <select id="download"></select></label>
    <button>Send PNG to server and download</button>
  </div>
  <div>
    <img id="result">
  </div>

  <%= javascript_tag 'new FusionChartsManager()' -%>
</body>
</html>
