<!DOCTYPE html>
<html>
<head>
  <title>Graph Libraries Comparison</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <canvas id="bar" width="650" height="250" class="graph">[No canvas support]</canvas>
  <canvas id="pie" width="650" height="250" class="graph">[No canvas support]</canvas>
  <canvas id="column" width="650" height="250" class="graph">[No canvas support]</canvas>
  <canvas id="line" width="650" height="250" class="graph">[No canvas support]</canvas>
  <canvas id="scatter" width="650" height="250" class="graph">[No canvas support]</canvas>

  <div>
    <label>Graph: <select id="download"></select></label>
    <button>Send PNG to server and download</button>
  </div>
  <div>
    <img id="result">
  </div>

  <%= javascript_tag 'new RGraphManager()' -%>
</body>
</html>
